# Dependencies
node_modules/
.npm/

# Local Binaries & Temporary Files
*.log

# Build Outputs
frontend/dist/
dist/
build/

# IDE & System Files
.DS_Store
.vscode/
.idea/
*.swp
*.swo


# Environment & Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
dist_electron/
.aider*
_to_review/
